*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Gowun Dodum', sans-serif;
    height: 100%;
    margin: 0;
}
.container{
    height: 100%;
    background-color: #F4F6FA;
}

.chat-screen{
    height: calc(100% - 120px);
}

.user{
    background-color: #A696CD;
    border: 1px solid #CEBEE1;
    padding: 16px;
    height: 80px;
}
.user__column{
    float: left;
}

.user__pic{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #FFF0F5;
    background-color: #FFF0F5;
}
.user__nick{
    margin: 5px;
}
.user__count{
    font-size: 12px;
    color: black;
    margin: 6px;
}

.chat-form{
    height: 120px;
    background-color: white;
}
.chat-form__firld{
    height: 120px;
}
.chat-form__msg{
    float: left;
    width: calc(100%-120px);
    height: 120px;
    border: none;
    resize: none;
    font-size: 24px;
    padding: 10px;
}
.chat-form__bt{
    float: right;
    width: 120px;
    height: 120px;
    border: 1px solid #B4B4DC;
    border-radius: 12px;
    background-color: #B4B4DC;
    font-size: 18px;
}

.chat-form__msg:focus{
    outline: none;
}

.chat-form__bt:active{
    background-color: #B4B4DC
}
